.c-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  width: 100%;
  background: black;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;

  &--inline {
    display: inline-flex;
  }
}
