/*
Imported styles
Imported for every page & component
Only mixins, functions, variables, etc
*/

@mixin square($size) {
  width: $size;
  height: $size;
}

$Roboto: 'Roboto', Helvetica, Arial, sans-serif;
