<template>
  <footer class="base-footer">
    <a href="#" class="about">A Propos</a>
  </footer>
</template>

<style lang="scss">
.base-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 50px;
  margin-top: 20px;

  > .about {
    font-size: 10px;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 185px;
    transform: translateX(-50%);
    border-top: 1px solid black;
  }
}
</style>
