<template>
  <header class="base-header">
    <div class="account">
      <img src="/account.png" alt="Mon Compte" />
    </div>

    <nuxt-link to="/" class="logo">
      <img src="/logo.png" alt="" />
      <span class="brand">grimpr</span>
    </nuxt-link>
  </header>
</template>

<style lang="scss">
.base-header {
  display: flex;
  align-items: center;
  margin: 0 52px 0 20px;
  height: 68px;

  > .account {
    @include square(32px);

    > img {
      width: 100%;
    }
  }

  > .logo {
    display: flex;
    align-items: center;
    margin: 0 auto;
    text-decoration: none;

    > img {
      width: 47px;
      margin-right: 8px;
    }

    > .brand {
      font-weight: 900;
      font-size: 24px;
      line-height: 28px;
    }
  }
}
</style>
