<template>
  <div class="session-search">
    <h1 class="title t-title">Trouver une session</h1>

    <form action="" class="fields">
      <div class="field">
        <label for="" class="label">Lieu</label>

        <input type="text" class="input" />
      </div>

      <div class="field">
        <label for="" class="label">Data</label>

        <input type="date" class="input" />
      </div>

      <div class="field">
        <label for="" class="label">Tu recherches une session plutôt</label>

        <input type="text" class="input" />
      </div>

      <button class="submit c-button">Rechercher</button>
    </form>
  </div>
</template>

<style lang="scss">
.session-search {
  > .title {
    margin: 35px 0 22px;
    text-align: center;
  }

  > .fields {
    width: 240px;
    margin: 0 auto;

    > .field {
      margin-bottom: 36px;

      > .label,
      > .input {
        display: block;
        width: 100%;
      }

      > .label {
        margin-bottom: 9px;
      }

      > .input {
        padding: 14px 10px;
        border: 1px solid black;
        background: rgba(black, 0.1);
        outline: none;
        border-radius: 13px;
        transition: background 0.2s;

        &:focus {
          background: rgba(black, 0);
        }
      }
    }

    > .submit {
      width: 140px;
      margin: 0 auto;
    }
  }
}
</style>
