<template>
  <div class="layout-default">
    <LayoutHeader />

    <nuxt />

    <LayoutFooter />
  </div>
</template>

<script>
import LayoutHeader from '~/components/base/LayoutHeader.vue'
import LayoutFooter from '~/components/base/LayoutFooter.vue'

export default {
  components: {
    LayoutFooter,
    LayoutHeader
  }
}
</script>

<style lang="scss">
.layout-default {
}
</style>
