<template>
  <main class="page-index">
    <img src="/contrib/home1.png" alt="" class="visual" />

    <div class="find">
      <h1 class="title t-title">
        Trouve avec qui sera ta prochaine session grimpe
      </h1>

      <p class="body">
        Connecte-toi à des grimpeurs de confiance et organise tes prochaines
        sessions d’escalade indoor et outdoor
      </p>

      <div class="actions">
        <nuxt-link class="search c-button" to="/session/search"
          >Rechercher une session</nuxt-link
        >

        <div class="alternative">Ou</div>

        <a href="#" class="submit">Proposer une session</a>
      </div>
    </div>

    <img src="/contrib/home2.png" alt="" class="visual" />

    <div class="why">
      <h1 class="title t-title">Pourquoi utiliser grimpr</h1>

      <dl class="reasons">
        <dt class="title">Simple</dt>
        <dd class="body">blablablablabla</dd>

        <dt class="title">Gratuit</dt>
        <dd class="body">blablablablabla</dd>

        <dt class="title">En toute confiance</dt>
        <dd class="body">blablablablabla</dd>
      </dl>
    </div>

    <div class="how">
      <h1 class="title t-title">Comment ça marche</h1>

      <div class="explanations">
        <div class="item">
          <div class="icon" />
          <div class="title">Trouve</div>
          <div class="body">blablablablabla</div>
        </div>

        <div class="item">
          <div class="icon" />
          <div class="title">Organise</div>
          <div class="body">blablablablabla</div>
        </div>

        <div class="item">
          <div class="icon" />
          <div class="title">Grimpe</div>
          <div class="body">blablablablabla</div>
        </div>
      </div>
    </div>
  </main>
</template>

<style lang="scss">
.page-index {
  > .visual {
    width: 100%;
  }

  > .find,
  > .why,
  > .how {
    padding: 20px 40px;
    text-align: center;

    > .title {
      margin-bottom: 11px;
    }
  }

  > .find {
    > .body {
      margin-bottom: 40px;
      font-size: 14px;
      line-height: 20px;
    }

    > .actions {
      > .search {
        margin-bottom: 20px;
      }

      > .alternative {
        margin-bottom: 20px;
      }
    }
  }

  > .why {
    > .reasons {
      text-align: center;

      > .title {
        font-weight: 900;
      }

      > .body {
        & + .title {
          margin-top: 20px;
        }
      }
    }
  }

  > .how {
    > .title {
      margin-bottom: 17px;
    }

    > .explanations {
      text-align: left;

      > .item {
        display: grid;
        grid-template-columns: 40px 20px 1fr;

        > .icon {
          grid-area: 1 / 1 / 3 / 2;
          background: rgba(black, 0.4);
        }

        > .title {
          grid-area: 1 / 3;
          font-weight: 900;
          line-height: 20px;
        }

        > .body {
          grid-area: 2 / 3;
          line-height: 20px;
        }

        & + .item {
          margin-top: 20px;
        }
      }
    }
  }
}
</style>
